.home {
  background-image: url('public/contact.jpg');
  background-position: bottom 40% right 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  z-index: -1;
}
.black {
  background-color: #DEDEDE;
}

/* When image is fully loaded */
body.bg-loaded .home {
  opacity: 1;
}

/* Hidden preloader image */
img.preload {
  display: none;
}

body {
  margin: 0;
}

.about, .contact {
  position: relative;
  padding-bottom: 150px;
}

svg {
  fill: white;
  max-width: 800px;
}

.mel {
  position: absolute;
  left: 0px;
  width: 100px;
  display: block;
  bottom: 50%
}

.usine {
  position: absolute;
  right: 0px;
  width: 141px;
  display: block;
  bottom: 50%
}

* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 80%;
  margin: 0 auto;

  position: fixed;
  bottom: 10px;
  left: 10px;
}

.pad {
  padding: 10px;
}

nav {
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 22px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding-bottom: 2px;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.5s all;
}

a:hover {
  padding-left: 10px;
}

.footer svg * {
  fill: black;
}

.inline {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  align-self: center;
}

.contact-photo {
  margin-top: 1rem;
}

.contact-info p {
  font-weight: bold;
  margin: 1px 0;
}

.grid {
  padding: 150px 10px 10px;
}

.tall {
  height: 100vh;
}

.footer-locked svg {
  width: 100%;
  height: auto;
  fill: black;
}

.footer-locked {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 12px;
  margin-top: 0.5rem;
  text-align: right;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.active {
  position: relative;
}

.active:before {
  content: "•";
  margin-right: 10px;
}

.italic {
  font-style: italic;
}

.coming-soon {
  /* display: flex;
  min-height: 50vh;
  align-items: start;
  flex-direction: column;
  justify-content: center; */
}

.coming-soon h1,
.coming-soon h2 {
  font-weight: 200;
  margin: 0;
}

@media (min-width: 860px) {
  .home {
    background-position: bottom 40% center;
  }

  .mel {
    left: 10px;
    width: 230px;
  }

  .usine {
    right: 10px;
    width: 327px;
  }

  .footer {
    /* width: 20%; */
    width: 400px;
    left: 0;
    right: 0;
  }

  .footer svg {
    fill: white;
  }

  .contact-info {
    left: 30px;
    width: 400px;
  }

  nav {
    left: 30px;
    top: 30px;
  }

  article.grid {
    padding: 30px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
  }

  .footer-locked {
    bottom: 30px;
    left: 30px;
  }

  .pad {
    padding: 30px;
  }

  .contact-photo {
    margin-top: 0;
  }
}